QPushButton {
font-size: 45px;
color:#6699cc;
border-style: none;
}
QPushButton:hover {
font-size:45px;
color:#6699ff;
border-style: none;
}
QPushButton:pressed {
font-size:40px;
color:#6699ff;
border-style: none;
}

#msgEdit {
border-width: 2px;
border-radius: 10px;
font-size:20px;
border-style: solid;
border-color: #333333;
background-color: #444444;
color: #ffffff;
}

#serverBox {
border-style: none;
}
QListWidget {
border-style: none;
}

#Widget {
background-color:#3e3e3e;
}